body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:433px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2403 {
  position:absolute;
  left:165px;
  top:94px;
  width:260px;
  height:433px;
  opacity:0.6;
}
#u2404 {
  position:absolute;
  left:2px;
  top:208px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2405 {
  position:absolute;
  left:177px;
  top:157px;
  width:236px;
  height:298px;
  opacity:0.8;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2406 {
  position:absolute;
  left:2px;
  top:143px;
  width:232px;
  word-wrap:break-word;
}
#u2407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2407 {
  position:absolute;
  left:276px;
  top:175px;
  width:37px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2408 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u2409 {
  position:absolute;
  left:396px;
  top:148px;
  width:23px;
  height:25px;
}
#u2410 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
